.header-bg{
    height: 42px;
    background-image: linear-gradient(to right, #cd8a89 , #133698);
    right: 0;
    left: 0;
    top: 0;
}


.logout {
    width: 45px;
    height: 31px;
    // position: relative;
    // right: 20px;
    
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.log {
    color: white;
    cursor: pointer;
    padding-right: .6rem;
}


.logWrapper {
}