<div class="call_detail mt-3">
    <div class="d-flex align-items-center aocCardheading">
        <h5 >Call Details</h5>
    </div>
    
    <div class="card bg-light py-4 px-2 ">
        <div class="card-body">
         <div class="gridWrap d-flex justify-content-start">
            
         
         <div class="gridDiv w-100 ps-4">
            
           <form action="" class="inline-form">
            <div class="row g-3">
                <div class="col-auto textGroup mb-3">

                  <label for="disp" class="form-label">	Disposition:</label>

                  <select [(ngModel)]="vm.callDisposition" class="form-select" name="disp" aria-label="Default select example">
                    <option [value]="" disabled  selected>Please select one</option>
                   <option [value]="1"> Escalate Follow Up</option>
                    <option [value]="2">Left Voice Mail</option>
                    <option [value]="3">No Answer</option>
                    <option [value]="4">Send AOC <!-- we called and sent fax and all good--></option>
                    <option [value]="5">Unable to determine preference</option>
                  </select>
                </div>
                <div class="col-auto textGroup mb-3">
                    <label for="exampleFormControlInput1" class="form-label">	Spoke To:</label>
                    <input type="text" class="form-control" name="spokeTo" [(ngModel)]="vm.spokeTo" id="exampleFormControlInput1" placeholder="Contact Name">
                  </div>
               
                 
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <textarea [(ngModel)]="vm.comments" name="comments" class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Comments..."></textarea>
                      </div>
                      <div class="align-self-end text-end">
                        <button type="submit" (click)="addComment()" class="btn btn-primary">Submit</button>
                      </div>
                </div>
            </div>
           </form>
    
    </div>
        </div>
      </div>
    
</div>