<div class="comments_sec mt-3">
    <div class="d-flex align-items-center aocCardheading">
        <h5 >Comments ({{comments.length}})</h5>
    </div>
    
    <div class="card bg-light py-4 px-2 ">
        <div class="card-body">
            <div class="row g-3">
                <div class="col" *ngFor="let com of comments ; let i = index">
                  <div class="card">
                    <div class="card-body">
                      <div class="rightdate">{{com?.createDate | date:'d MMM yy'}}</div>
                      <p class="card-text">{{com?.comment ||''}}</p>
                        <div class="daysBottom d-flex">
                            <div class="box">
                               <h6> Cadence Days</h6>
                                <b>{{com.cadenceDays || 0}}</b>
                            </div>
                            <div class="box">
                                <h6>Call Made Days</h6>
                                <b>{{com.callMadeDays || 0}}</b>
                            </div>
                        </div>
                
                    </div>
                  </div>
                </div>
            
                  <!-- <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <div class="rightdate">05 OCT 21</div>
                        <p class="card-text"><b>1T Caller:</b> Vicky Knowles
                          <span>926450021</span></p>
                          <div class="daysBottom d-flex">
                              <div class="box">
                                 <h6> Cadence Days</h6>
                                  <b>45</b>
                              </div>
                              <div class="box">
                                  <h6>Call Made Days</h6>
                                  <b>78</b>
                              </div>
                          </div>
                  
                      </div>
                    </div>
                  </div> -->
               
              </div>
      </div>
    
</div>