.card-container {
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 13%,5%;
    padding-left: 3%;
    padding-top: 2.3%;
}

.layout {
    height: 100vh;
    margin-top: 24px;
}
